.root {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  :global {
    .inner {
      width: 100%;
      height: auto;
      overflow-x: auto;
      overflow-y: hidden;
      display: flex;
      padding: 0 4px 4px 4px;
      .guide {
        width: auto;
        height: auto;
        position: relative;
        .desc {
          border: 1px solid $border;
          border-right: none;
          width: 100%;
          height: 100%;
          position: relative;
          .date {
            display: inline-block;
            position: absolute;
            top: 24px;
            right: 24px;
            color: $primary;
          }
          .item {
            display: inline-block;
            position: absolute;
            bottom: 24px;
            left: 24px;
            color: $primary;
          }
        }
        .item-name-list {
          height: 100%;
          width: 100%;
          .guide-name {
            text-align: center;
            color: $text;
            padding: 12px 0px;
            border: 1px solid $border;
            border-top: 0;
          }
        }
      }
      .guide::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 160px;
        background-color: $border;
        top: 0;
        left: 0;
        transform: rotate(45deg);
        transform-origin: 0 0;
      }
      .content {
        width: 100%;
        height: 100%;
        .data-list {
          width: 100%;
          height: 100%;
          display: flex;
          .month-item {
            width: auto;
            height: auto;
            .month {
              width: 100%;
              height: auto;
              text-align: center;
              padding: 10px 0;
              border: 1px solid $border;
              border-right: none;
              color: $text;
              font-size: 16px;
            }
            .day-box {
              width: 100%;
              height: auto;
              display: flex;
              .day-item {
                min-width: 48px;
                max-width: 48px;
                flex: 1;
                flex-shrink: 1;
                .week,
                .day {
                  width: 100%;
                  height: 38px;
                  padding: 10px 0;
                  border-bottom: 1px solid $border;
                  border-left: 1px solid $border;
                  // border: 1px solid $border;
                  // border-right: none;
                  border-top: none;
                  text-align: center;
                }
    
              }
            }
          }
          .month-item:last-child .day-item:last-child .week,
          .month-item:last-child .day-item:last-child .day {
            border-right: 1px solid $border;
          }
          .month-item:last-child .month  {
            border-right: 1px solid $border;
          }
        }

        .schedule-box {
          width: 100%;
          height: 100%;
          .date-box {
            width: 100%;
            height: 100%;
            display: flex;
            position: relative;
            .data-item-work {
              position: absolute;
              left: 0;
              top: 0;
              background-color: pink;
              padding: 12px 0;
              color: #fff;
              text-align: center;
            }
            .date-item {
              flex: 1;
              max-width: 48px;
              min-width: 48px;
              height: 38px;
              padding: 20px 0;
              border-bottom: 1px solid $border;
              border-right: 1px solid $border;
              // border-left: 1px solid $border;
            }
          }
        }
      }
    }
    .inner::-webkit-scrollbar {
      width: 100%;
      height: 8px;
      background-color: transparent;
    }

    .inner::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background: rgba($color: $border, $alpha: 0.1);
    }
  }
}