.root {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  :global {
    .content {
      width: 100%;
      height: 100%;
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
}